{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}

{% block body %}
    <div class="text-center bg-light p-4">
        <h1>Tous nos biens immobiliers</h1>
    </div>
{% endblock %}